.dropdown {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  border: 1px solid #ccc;
  z-index: 1;
}

.dropdown.open {
  display: block;
}

.dropdown-item {
  padding: 10px;
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #E50064;
}